
<h2>Comunio Marktwerte</h2>



<table style="width:100%">

  <tr>
    <td><%= torwart %></td>
    <td><%= abwehr %></td>
  </tr>
  <tr>
    <td><%= mittelfeld %></td>
    <td><%= stürmer %></td>
  </tr>

</table>




